@model IEnumerable<Week17_NetworkDBProject_05052016.Models.Network>

@{
    ViewBag.Title = "Networks";
}

<h2 class="page-title">TV Networks</h2>
<p class="link-format">Select a Network to See Its TV Shows</p>


    <!-- Users will not add Network data
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    -->

@foreach (var item in Model)
{
    //using (Html.BeginForm("Index", "Shows", FormMethod.Get))
    {
    <div>
        <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <!--
                        <img src="@Html.DisplayFor(modelItem => item.Logo)" alt="Logo Photo" class="img-thumbnail">
                    -->

                    @*<input type="hidden" name="network" value=@item.NetworkID>
                    <input type="image" src="@Html.DisplayFor(modelItem => item.Logo)" alt="Logo Photo" class="thumbnail-network"/>*@
                    
                    @* this code worked, testing send code to "Filter" action instead
                        <a href="@Url.Action("Index", "Shows", new { network = item.NetworkID, sortBy = ""}, null)">
                        <img src="@Html.DisplayFor(modelItem => item.Logo)" alt="Network Logo Image" class="thumbnail-network" />
                    </a>*@

                    <a href="@Url.Action("Filter", "Shows", new { filterBy = "Network", network = item.NetworkID}, null)">
                        <img src="@Html.DisplayFor(modelItem => item.Logo)" alt="Network Logo Image" class="thumbnail-network" />


                        @*@Html.ActionLink("Image here", "Index", "Shows", new { network = item.NetworkID}, null)*@

                        <div class="caption">
                            <b>@Html.DisplayFor(modelItem => item.Name)</b>
                        </div>
</div>
        </div>
    </div>
    }
}

<!--
@*    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Logo)" class="img-thumbnail" alt="Show Photo">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <!-- Users will not Edit, Delete or view Details of Networks
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.NetworkID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.NetworkID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.NetworkID })
                </td>
                -->
            </tr>
        }

    </table>
*@
-->